<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Filtrar Tareas</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Tareas filtradas</h1>
    <a href="/" class="btn btn-sm btn-primary mb-2">Volver al inicio</a>
    <ul class="list-group">
        {% for t in tareas %}
          <li class="list-group-item">{{ t }}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
